@charset "UTF-8";
@font-face {
  font-family: 'splatoon1';
  src:url('./assets/fonts/splatoon-eng.woff2')
}

@font-face {
  font-family: 'splatoon2';
  src:url('./assets/fonts/Splatfont2.ttf')
}

html,body,div#root {
  height: 100vh;
}

body {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.font-splatoon1 {
  font-family: splatoon1;
}

.font-splatoon2 {
  font-family: splatoon2;
}